body {
    height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.logoText {
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    /*  for IE  */

    /* 	for browsers supporting webkit (such as chrome, firefox, safari etc.). */
    -webkit-transform: rotate(-25deg);
    display: inline-block;

}

.map {
    height: 300px;
    aspect-ratio: 2 / 1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(./assets/tax-office.jpg);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.185);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hours {
    background-color: rgba(0, 0, 0, 0.494);
    border-radius: 5px;
    padding: 10px;
}

a:hover {
    cursor: pointer;
}

/* .row-title-text {
    color: black;
} */

@media (max-width: 1250px) {
    .hide {
        display: none;
    }

    .formsMobile {
        width: 100px;
    }

    .formsMobileBtns {
        font-size: 6px;
        color: black;
    }

    .test {
        margin: auto;
        justify-content: center;
    }

    .row-title-text {
        font-size: 12px;
    }

    .row-content-text {
        font-size: 10px !important;
    }

    .mobileFaqH1 {
        font-size: 20px;
    }

    .mobileFaqP {
        font-size: 14px;
    }
    .mobileFaqContainer {
        width: 95%
    }

    .mobileFaq {
        padding: 5px;
    }

    .hours, li {
        font-size: 10px;
    }

    .mobileHeroBannerH1 {
        font-size: 20px !important;
        text-align: center; 
        padding-bottom: 0;
    }

    .map {
        height: 100px;
        aspect-ratio: 2 / 1;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
  }